*
{   margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
 html {
    scroll-behavior: smooth;
 }

body {
    background-color: lightgrey;
}

nav  {
    background-color: whitesmoke;
    width: 100%;
    height: 40px;
    position: sticky;
    margin-top: 5%;
    left: 0;
    top: 0;
    z-index: 1;
    

}

nav ul {

 float: right;
 margin-right: 20%;
}

nav ul li {
display: inline-block;
text-decoration: none;
margin: 10px 10px;



}

nav ul li a {
   color: black;
   font-family:'Montserrat';
   font-size: 1.1rem;

}

nav ul li a:hover {

   font-weight:300;
}

.brand_name {
    color: black;
   font-family:'Montserrat';
   font-size: 1.4rem;
   margin-left: 15%;
   position: absolute;
   width: 9%;
   margin-top: 5px;
 
   

}

.checkbtn {
    float: right;
    line-height: 30px;
    margin-right: 30px;
    cursor: pointer;
    height: 20px;
    width: 30px;
    display: none;
 
    
    
}

#check {
    display: none;
    
}

.entry {
    
    font-size: 1.6rem;
    font-family:'Montserrat';
    height: 230px;
    max-width: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10px;

    align-items: center;
    justify-content: center;
    display: flex;
    text-wrap: wrap;

}

.photo-gallery {
    //background-color: red;
    display: flex;
    flex-direction:row;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    

}

.foto {
    width: 30%;
    background-size: cover;
    background-position: center center; 
    height: 30%;
    margin-left: 20px;
    margin-bottom: 20px;
  
    

}
.my_photos {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.photosection {
    width: 30%;
    height: 30%;
    background-position: center center;
    margin-left: 20px;
    margin-bottom: 20px;

}

.instagram{
    height: 25px;
    width: 25px;
    position: absolute;
    margin-top: -10px;
}




@media (max-width:800px) {

.instagram {
    position: relative;
}
 
.photo-gallery {
 flex-wrap: wrap;
}

.foto  {
    width: 50%;
    height: 20%;
}

.my_photos {
    flex-wrap: wrap;
}

.photosection  {
    width: 50%;
    height: 20%;
}

.entry {
    max-width: 90%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.checkbtn {
    display: block;
    font-size: 15px;
    z-index: 9999;
}

.navcontainer {
    z-index: -1;
}

ul {
       
    background-color: white;
    border-radius: 20px;
    width: 100%;
    height: 600%;
    position: absolute;
    text-align: center;
    padding: 30px 20px;
    transition: all .9s ease;
    left: -100%;
    margin-top: 200px;
  
}
nav ul li {
    display: block;
    margin-top: 20px;
   
    
}

nav ul li a {
    font-size: 1.5rem;
 
            
}



#check:checked ~ .navcontainer ul  {
    left: 0px;
    opacity: 0.8;
    z-index: 999;


} 

}